@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Silkscreen', sans-serif;
    gap: 8px;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid black 5px;
    width: 140px;
    height: 140px;
}

.box>.marker {
    font-size: 100px;
}

.header {
    font-size: 100px;
}

.game-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 450px;
    height: 450px;
    background-color: rgb(96, 96, 254);
    border: solid black 5px;
}

.reset-button {
    border: solid black 5px;
    background-color: yellow;
    font-size: 46px;
    padding: 12px;
    border-radius: 8px;
    font-family: 'Silkscreen', sans-serif;
}
